/* app css stylesheet */



/*
  Flexbox setup, taken from
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes#Holy_Grail_Layout_example

  For flexbox practice, see:
    https://demo.agektmr.com/flexbox/
    http://the-echoplex.net/flexyboxes/
    http://codepen.io/justd/pen/yydezN
    ******* http://flexboxfroggy.com/ ******** v interesting
    http://learnlayout.com/flexbox.html
*/
.view-main {
  min-height: 80vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
.view-main > article {
  margin: .25em;
  padding: .25em;
  border: 3px solid blue;
  border-radius: 7pt;
  background: #dddd88;
  flex: 3 1 60%;
  order: 2;
}
.view-main > nav {
  margin: .25em;
  padding: .25em;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  flex: 1 6 20%;
  order: 1;
}
.view-main > aside {
  margin: .25em;
  padding: .25em;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  flex: 1 6 20%;
  order: 3;
}
header, footer {
  display: block;
  margin: .25em;
  padding: .25em;
  min-height: 10vh;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}

/* if too narrow to support three columns */
@media all and (max-width: 640px) {
  .view-main, #page {
    flex-direction: column;
  }
  .view-main > article, .view-main > nav, .view-main > aside {
    /* return them to document order */
    order: 0;
  }
  .view-main > nav, .view-main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
  }
}
/*END flexbox holy grail*/




.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
